<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewTask()" [disabled]="taskService.updateMode">Create Task</button>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-6">
    <p *ngIf="isEmpty()">
      Create a new task to start filling your to-do list.
    </p>
    <app-task-item
      *ngFor="let taskEl of tasks; let i = index"
      [task]="taskEl"
      [index]="i"></app-task-item>
  </div>
  <div class='col-md-5' >
      <router-outlet></router-outlet>
  </div>
</div>





